[Desktop Entry]
Name=Startup Applications
Comment=Choose what applications to start when you log in
Exec=cinnamon-session-properties
Icon=cinnamon-session-properties
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Settings;X-GNOME-PersonalSettings;
OnlyShowIn=X-Cinnamon;
NoDisplay=false
X-Ubuntu-Gettext-Domain=cinnamon-session-3.0
